.cards-container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
}
.card-item {
  padding: 2rem;
}
